*{
  font-family: 'Montserrat', sans-serif;
}
/* css za navigacioni meni */
.nav {
  background: #06113C; opacity: 0.8;
  color:white;
	position: sticky;
  margin: auto !important;
  flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	top: 0;
}
h1 {
  margin-left: 20px;
  font-size: 27px;
  text-align: center;
  transition: all 0.9s ease-out;
}

h1:hover {
  animation: move-up-down 0.9s ease-out forwards;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0);
  }
}

.nav__item__search{
  background: #06113C;
  display: inline-block;
  margin: 0px 30px;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}
 /* za hover preko stranica*/
 .nav__item {
  position: relative;
  transition: transform 0.2s;
  display: inline-block;
  padding: 10px 20px;
  background: 06113C;
  display: inline-block;
  margin: 0px 30px;
  color: white;
  z-index: 1;
}

.nav__item:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 100%;
  border-radius: 50% 0% 50% 0%;
  background-color: rgba(255, 249, 215, 0);
  transition: all 0.5s;
  z-index: -1;

}

.nav__item:hover:after {
  width: 100%;
  background-color: #FF8C32;
}

.nav__item:hover {
  transform: scale(1.1);

}

/* search deo*/
.nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 17px;
  background-color: transparent;
  color: white;
  background-color: #FF8C32;
  border: none;
}

.nav input[type=text]:focus {
  background-color: #FF8C32;
  border-color: rgb(255, 249, 215);
  border: 1px;
}

::placeholder{
  color:  white;
}
